<%= render "layouts/header" %>

<body>

    <!-- Custom styles for this template -->
    <style>
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
        }

        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
          margin-bottom: 10px;
        }
        .form-signin .checkbox {
          font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
    </style>
    <div class="container">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin', 'data-bar' => 'baz'}) do |f| %>
        <h2 class="form-signin-heading">Please sign in</h2>

        <%= f.label :email, :class => "sr-only" %>
        <%= f.email_field :email, autofocus: true, :value => "admin.contacts@mail.com", :class => "form-control" %>

        <%= f.label :password, :class => "sr-only" %>
        <%= f.password_field :password, autocomplete: "off", :value => "123456", :class => "form-control" %>
        
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        <% end -%>
        
        <% flash.each do |key, value| %>
        	<%= content_tag :div, value, class: "flash key-jtl-#{key} form-group has-error" %>
        <% end %>
        <%= f.submit "Sig in", :class => "btn btn-lg btn-primary btn-block" %>

        <% render "devise/shared/links" %>
      <% end %>

    </div> <!-- /container -->

    <%= render "layouts/footer" %>
