<div class="container">

    <h1 id="helper-classes" class="page-header">Contacts</h1>

    <p id="notice"><%= notice %></p>

    <%= link_to 'New Contact', new_contact_path, :class => 'hola' %>

    <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <% @contacts.each do |contact| %>
            <tr>
                <th scope="row"><%= contact.id %></th>
                <td><%= contact.nombre %></td>
                <td><%= contact.apellido %></td>
                <td>
                  <%= link_to 'Show', contact %> / 
                  <%= link_to 'Edit', edit_contact_path(contact) %> / 
                  <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
    </tbody>
    </table>

</div> <!-- /container -->

